<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snjtjj.mapper.RptSettingMapper" >
  <resultMap id="BaseResultMap" type="com.snjtjj.entity.RptSetting" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="tabcode" property="tabcode" jdbcType="VARCHAR" />
    <result column="fixcolumn" property="fixcolumn" jdbcType="INTEGER" />
    <result column="itemcode" property="itemcode" jdbcType="VARCHAR" />
    <result column="unitcode" property="unitcode" jdbcType="VARCHAR" />
    <result column="hzcode" property="hzcode" jdbcType="VARCHAR" />
    <result column="colwidth" property="colwidth" jdbcType="INTEGER" />
    <result column="colalign" property="colalign" jdbcType="VARCHAR" />
    <result column="orderno" property="orderno" jdbcType="INTEGER" />
    <result column="num1" property="num1" jdbcType="VARCHAR" />
    <result column="num2" property="num2" jdbcType="VARCHAR" />
    <result column="num3" property="num3" jdbcType="VARCHAR" />
    <result column="num4" property="num4" jdbcType="VARCHAR" />
    <result column="num5" property="num5" jdbcType="VARCHAR" />
    <result column="num6" property="num6" jdbcType="VARCHAR" />
    <result column="num7" property="num7" jdbcType="VARCHAR" />
    <result column="num8" property="num8" jdbcType="VARCHAR" />
    <result column="num9" property="num9" jdbcType="VARCHAR" />
    <result column="num10" property="num10" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, typeid, tabcode, fixcolumn, itemcode, unitcode, hzcode, colwidth, colalign, orderno, 
    num1, num2, num3, num4, num5, num6, num7, num8, num9, num10
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.snjtjj.entity.RptSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rpt_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rpt_setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rpt_setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.snjtjj.entity.RptSettingExample" >
    delete from rpt_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.snjtjj.entity.RptSetting" >
    insert into rpt_setting (id, typeid, tabcode, 
      fixcolumn, itemcode, unitcode, 
      hzcode, colwidth, colalign, 
      orderno, num1, num2, 
      num3, num4, num5, num6, 
      num7, num8, num9, num10
      )
    values (#{id,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, #{tabcode,jdbcType=VARCHAR}, 
      #{fixcolumn,jdbcType=INTEGER}, #{itemcode,jdbcType=VARCHAR}, #{unitcode,jdbcType=VARCHAR}, 
      #{hzcode,jdbcType=VARCHAR}, #{colwidth,jdbcType=INTEGER}, #{colalign,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=INTEGER}, #{num1,jdbcType=VARCHAR}, #{num2,jdbcType=VARCHAR}, 
      #{num3,jdbcType=VARCHAR}, #{num4,jdbcType=VARCHAR}, #{num5,jdbcType=VARCHAR}, #{num6,jdbcType=VARCHAR}, 
      #{num7,jdbcType=VARCHAR}, #{num8,jdbcType=VARCHAR}, #{num9,jdbcType=VARCHAR}, #{num10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snjtjj.entity.RptSetting" >
    insert into rpt_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="tabcode != null" >
        tabcode,
      </if>
      <if test="fixcolumn != null" >
        fixcolumn,
      </if>
      <if test="itemcode != null" >
        itemcode,
      </if>
      <if test="unitcode != null" >
        unitcode,
      </if>
      <if test="hzcode != null" >
        hzcode,
      </if>
      <if test="colwidth != null" >
        colwidth,
      </if>
      <if test="colalign != null" >
        colalign,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="num1 != null" >
        num1,
      </if>
      <if test="num2 != null" >
        num2,
      </if>
      <if test="num3 != null" >
        num3,
      </if>
      <if test="num4 != null" >
        num4,
      </if>
      <if test="num5 != null" >
        num5,
      </if>
      <if test="num6 != null" >
        num6,
      </if>
      <if test="num7 != null" >
        num7,
      </if>
      <if test="num8 != null" >
        num8,
      </if>
      <if test="num9 != null" >
        num9,
      </if>
      <if test="num10 != null" >
        num10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="tabcode != null" >
        #{tabcode,jdbcType=VARCHAR},
      </if>
      <if test="fixcolumn != null" >
        #{fixcolumn,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null" >
        #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null" >
        #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="hzcode != null" >
        #{hzcode,jdbcType=VARCHAR},
      </if>
      <if test="colwidth != null" >
        #{colwidth,jdbcType=INTEGER},
      </if>
      <if test="colalign != null" >
        #{colalign,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=INTEGER},
      </if>
      <if test="num1 != null" >
        #{num1,jdbcType=VARCHAR},
      </if>
      <if test="num2 != null" >
        #{num2,jdbcType=VARCHAR},
      </if>
      <if test="num3 != null" >
        #{num3,jdbcType=VARCHAR},
      </if>
      <if test="num4 != null" >
        #{num4,jdbcType=VARCHAR},
      </if>
      <if test="num5 != null" >
        #{num5,jdbcType=VARCHAR},
      </if>
      <if test="num6 != null" >
        #{num6,jdbcType=VARCHAR},
      </if>
      <if test="num7 != null" >
        #{num7,jdbcType=VARCHAR},
      </if>
      <if test="num8 != null" >
        #{num8,jdbcType=VARCHAR},
      </if>
      <if test="num9 != null" >
        #{num9,jdbcType=VARCHAR},
      </if>
      <if test="num10 != null" >
        #{num10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.snjtjj.entity.RptSettingExample" resultType="java.lang.Integer" >
    select count(*) from rpt_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rpt_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null" >
        typeid = #{record.typeid,jdbcType=INTEGER},
      </if>
      <if test="record.tabcode != null" >
        tabcode = #{record.tabcode,jdbcType=VARCHAR},
      </if>
      <if test="record.fixcolumn != null" >
        fixcolumn = #{record.fixcolumn,jdbcType=INTEGER},
      </if>
      <if test="record.itemcode != null" >
        itemcode = #{record.itemcode,jdbcType=VARCHAR},
      </if>
      <if test="record.unitcode != null" >
        unitcode = #{record.unitcode,jdbcType=VARCHAR},
      </if>
      <if test="record.hzcode != null" >
        hzcode = #{record.hzcode,jdbcType=VARCHAR},
      </if>
      <if test="record.colwidth != null" >
        colwidth = #{record.colwidth,jdbcType=INTEGER},
      </if>
      <if test="record.colalign != null" >
        colalign = #{record.colalign,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=INTEGER},
      </if>
      <if test="record.num1 != null" >
        num1 = #{record.num1,jdbcType=VARCHAR},
      </if>
      <if test="record.num2 != null" >
        num2 = #{record.num2,jdbcType=VARCHAR},
      </if>
      <if test="record.num3 != null" >
        num3 = #{record.num3,jdbcType=VARCHAR},
      </if>
      <if test="record.num4 != null" >
        num4 = #{record.num4,jdbcType=VARCHAR},
      </if>
      <if test="record.num5 != null" >
        num5 = #{record.num5,jdbcType=VARCHAR},
      </if>
      <if test="record.num6 != null" >
        num6 = #{record.num6,jdbcType=VARCHAR},
      </if>
      <if test="record.num7 != null" >
        num7 = #{record.num7,jdbcType=VARCHAR},
      </if>
      <if test="record.num8 != null" >
        num8 = #{record.num8,jdbcType=VARCHAR},
      </if>
      <if test="record.num9 != null" >
        num9 = #{record.num9,jdbcType=VARCHAR},
      </if>
      <if test="record.num10 != null" >
        num10 = #{record.num10,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rpt_setting
    set id = #{record.id,jdbcType=VARCHAR},
      typeid = #{record.typeid,jdbcType=INTEGER},
      tabcode = #{record.tabcode,jdbcType=VARCHAR},
      fixcolumn = #{record.fixcolumn,jdbcType=INTEGER},
      itemcode = #{record.itemcode,jdbcType=VARCHAR},
      unitcode = #{record.unitcode,jdbcType=VARCHAR},
      hzcode = #{record.hzcode,jdbcType=VARCHAR},
      colwidth = #{record.colwidth,jdbcType=INTEGER},
      colalign = #{record.colalign,jdbcType=VARCHAR},
      orderno = #{record.orderno,jdbcType=INTEGER},
      num1 = #{record.num1,jdbcType=VARCHAR},
      num2 = #{record.num2,jdbcType=VARCHAR},
      num3 = #{record.num3,jdbcType=VARCHAR},
      num4 = #{record.num4,jdbcType=VARCHAR},
      num5 = #{record.num5,jdbcType=VARCHAR},
      num6 = #{record.num6,jdbcType=VARCHAR},
      num7 = #{record.num7,jdbcType=VARCHAR},
      num8 = #{record.num8,jdbcType=VARCHAR},
      num9 = #{record.num9,jdbcType=VARCHAR},
      num10 = #{record.num10,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.snjtjj.entity.RptSetting" >
    update rpt_setting
    <set >
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="tabcode != null" >
        tabcode = #{tabcode,jdbcType=VARCHAR},
      </if>
      <if test="fixcolumn != null" >
        fixcolumn = #{fixcolumn,jdbcType=INTEGER},
      </if>
      <if test="itemcode != null" >
        itemcode = #{itemcode,jdbcType=VARCHAR},
      </if>
      <if test="unitcode != null" >
        unitcode = #{unitcode,jdbcType=VARCHAR},
      </if>
      <if test="hzcode != null" >
        hzcode = #{hzcode,jdbcType=VARCHAR},
      </if>
      <if test="colwidth != null" >
        colwidth = #{colwidth,jdbcType=INTEGER},
      </if>
      <if test="colalign != null" >
        colalign = #{colalign,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=INTEGER},
      </if>
      <if test="num1 != null" >
        num1 = #{num1,jdbcType=VARCHAR},
      </if>
      <if test="num2 != null" >
        num2 = #{num2,jdbcType=VARCHAR},
      </if>
      <if test="num3 != null" >
        num3 = #{num3,jdbcType=VARCHAR},
      </if>
      <if test="num4 != null" >
        num4 = #{num4,jdbcType=VARCHAR},
      </if>
      <if test="num5 != null" >
        num5 = #{num5,jdbcType=VARCHAR},
      </if>
      <if test="num6 != null" >
        num6 = #{num6,jdbcType=VARCHAR},
      </if>
      <if test="num7 != null" >
        num7 = #{num7,jdbcType=VARCHAR},
      </if>
      <if test="num8 != null" >
        num8 = #{num8,jdbcType=VARCHAR},
      </if>
      <if test="num9 != null" >
        num9 = #{num9,jdbcType=VARCHAR},
      </if>
      <if test="num10 != null" >
        num10 = #{num10,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snjtjj.entity.RptSetting" >
    update rpt_setting
    set typeid = #{typeid,jdbcType=INTEGER},
      tabcode = #{tabcode,jdbcType=VARCHAR},
      fixcolumn = #{fixcolumn,jdbcType=INTEGER},
      itemcode = #{itemcode,jdbcType=VARCHAR},
      unitcode = #{unitcode,jdbcType=VARCHAR},
      hzcode = #{hzcode,jdbcType=VARCHAR},
      colwidth = #{colwidth,jdbcType=INTEGER},
      colalign = #{colalign,jdbcType=VARCHAR},
      orderno = #{orderno,jdbcType=INTEGER},
      num1 = #{num1,jdbcType=VARCHAR},
      num2 = #{num2,jdbcType=VARCHAR},
      num3 = #{num3,jdbcType=VARCHAR},
      num4 = #{num4,jdbcType=VARCHAR},
      num5 = #{num5,jdbcType=VARCHAR},
      num6 = #{num6,jdbcType=VARCHAR},
      num7 = #{num7,jdbcType=VARCHAR},
      num8 = #{num8,jdbcType=VARCHAR},
      num9 = #{num9,jdbcType=VARCHAR},
      num10 = #{num10,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>