<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snjtjj.mapper.RptTabMapper" >
  <resultMap id="BaseResultMap" type="com.snjtjj.entity.RptTab" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="systeminfoid" property="systeminfoid" jdbcType="VARCHAR" />
    <result column="tabcode" property="tabcode" jdbcType="VARCHAR" />
    <result column="tabname" property="tabname" jdbcType="VARCHAR" />
    <result column="makedept" property="makedept" jdbcType="VARCHAR" />
    <result column="approvalno" property="approvalno" jdbcType="VARCHAR" />
    <result column="validitydate" property="validitydate" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="tabdeep" property="tabdeep" jdbcType="INTEGER" />
    <result column="tabdeep1" property="tabdeep1" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, systeminfoid, tabcode, tabname, makedept, approvalno, validitydate, comment, 
    tabdeep, tabdeep1, create_date, create_by, update_by, update_date, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.snjtjj.entity.RptTabExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rpt_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rpt_tab
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rpt_tab
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.snjtjj.entity.RptTabExample" >
    delete from rpt_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.snjtjj.entity.RptTab" >
    insert into rpt_tab (id, systeminfoid, tabcode, 
      tabname, makedept, approvalno, 
      validitydate, comment, tabdeep, 
      tabdeep1, create_date, create_by, 
      update_by, update_date, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{systeminfoid,jdbcType=VARCHAR}, #{tabcode,jdbcType=VARCHAR}, 
      #{tabname,jdbcType=VARCHAR}, #{makedept,jdbcType=VARCHAR}, #{approvalno,jdbcType=VARCHAR}, 
      #{validitydate,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{tabdeep,jdbcType=INTEGER}, 
      #{tabdeep1,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.snjtjj.entity.RptTab" >
    insert into rpt_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systeminfoid != null" >
        systeminfoid,
      </if>
      <if test="tabcode != null" >
        tabcode,
      </if>
      <if test="tabname != null" >
        tabname,
      </if>
      <if test="makedept != null" >
        makedept,
      </if>
      <if test="approvalno != null" >
        approvalno,
      </if>
      <if test="validitydate != null" >
        validitydate,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="tabdeep != null" >
        tabdeep,
      </if>
      <if test="tabdeep1 != null" >
        tabdeep1,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="systeminfoid != null" >
        #{systeminfoid,jdbcType=VARCHAR},
      </if>
      <if test="tabcode != null" >
        #{tabcode,jdbcType=VARCHAR},
      </if>
      <if test="tabname != null" >
        #{tabname,jdbcType=VARCHAR},
      </if>
      <if test="makedept != null" >
        #{makedept,jdbcType=VARCHAR},
      </if>
      <if test="approvalno != null" >
        #{approvalno,jdbcType=VARCHAR},
      </if>
      <if test="validitydate != null" >
        #{validitydate,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="tabdeep != null" >
        #{tabdeep,jdbcType=INTEGER},
      </if>
      <if test="tabdeep1 != null" >
        #{tabdeep1,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.snjtjj.entity.RptTabExample" resultType="java.lang.Integer" >
    select count(*) from rpt_tab
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rpt_tab
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.systeminfoid != null" >
        systeminfoid = #{record.systeminfoid,jdbcType=VARCHAR},
      </if>
      <if test="record.tabcode != null" >
        tabcode = #{record.tabcode,jdbcType=VARCHAR},
      </if>
      <if test="record.tabname != null" >
        tabname = #{record.tabname,jdbcType=VARCHAR},
      </if>
      <if test="record.makedept != null" >
        makedept = #{record.makedept,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalno != null" >
        approvalno = #{record.approvalno,jdbcType=VARCHAR},
      </if>
      <if test="record.validitydate != null" >
        validitydate = #{record.validitydate,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.tabdeep != null" >
        tabdeep = #{record.tabdeep,jdbcType=INTEGER},
      </if>
      <if test="record.tabdeep1 != null" >
        tabdeep1 = #{record.tabdeep1,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rpt_tab
    set id = #{record.id,jdbcType=VARCHAR},
      systeminfoid = #{record.systeminfoid,jdbcType=VARCHAR},
      tabcode = #{record.tabcode,jdbcType=VARCHAR},
      tabname = #{record.tabname,jdbcType=VARCHAR},
      makedept = #{record.makedept,jdbcType=VARCHAR},
      approvalno = #{record.approvalno,jdbcType=VARCHAR},
      validitydate = #{record.validitydate,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      tabdeep = #{record.tabdeep,jdbcType=INTEGER},
      tabdeep1 = #{record.tabdeep1,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.snjtjj.entity.RptTab" >
    update rpt_tab
    <set >
      <if test="systeminfoid != null" >
        systeminfoid = #{systeminfoid,jdbcType=VARCHAR},
      </if>
      <if test="tabcode != null" >
        tabcode = #{tabcode,jdbcType=VARCHAR},
      </if>
      <if test="tabname != null" >
        tabname = #{tabname,jdbcType=VARCHAR},
      </if>
      <if test="makedept != null" >
        makedept = #{makedept,jdbcType=VARCHAR},
      </if>
      <if test="approvalno != null" >
        approvalno = #{approvalno,jdbcType=VARCHAR},
      </if>
      <if test="validitydate != null" >
        validitydate = #{validitydate,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="tabdeep != null" >
        tabdeep = #{tabdeep,jdbcType=INTEGER},
      </if>
      <if test="tabdeep1 != null" >
        tabdeep1 = #{tabdeep1,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.snjtjj.entity.RptTab" >
    update rpt_tab
    set systeminfoid = #{systeminfoid,jdbcType=VARCHAR},
      tabcode = #{tabcode,jdbcType=VARCHAR},
      tabname = #{tabname,jdbcType=VARCHAR},
      makedept = #{makedept,jdbcType=VARCHAR},
      approvalno = #{approvalno,jdbcType=VARCHAR},
      validitydate = #{validitydate,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      tabdeep = #{tabdeep,jdbcType=INTEGER},
      tabdeep1 = #{tabdeep1,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 周博添加的sql -->
  <select id="selectByUserRole" resultMap="BaseResultMap" parameterType="com.snjtjj.entity.RptTabExample" >
    select
    <include refid="Base_Column_List" />
    from rpt_tab where del_flag='0' AND systeminfoid in (@ids@)
    order by create_date DESC
  </select>
</mapper>